*{
    margin:0;
    padding:0;
    font-family: cursive;
    box-sizing:border_box;
}
.Hero{
    width:100%;
    min-height:100%;
    color:white;
    background: #000435;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.Hero h1{
    font-size:45px;
    font-weight:500px;
    margin-top:-50px;
    margin-bottom:50px;
}
.Hero h1 span{
    color:#2c8751;
}
textarea{
    width:800px;
    height:250px;
    background:#efeeee;
    font-size:15px;
    border:0;
    outline:0;
    padding:20px;
    border-radius:10px;
    resize:none;
    margin-bottom:30px;

}
textarea::placeholder{
    font-size:16px;
}
.row{
    display:flex;
    width:600px;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.row2{
    padding-top: 20px;
    display:flex;
    width:600px;
    justify-content:center;
    align-items:center;
    gap:20px;
}
button{
    background:#FF8C00
    color:#fff;
    padding:10px 30px;
    border-radius:10px;
    font-size:16px;
    border:0;
    outline:0;
    cursor:pointer;
    display:flex;
    align-items:center;
}
button:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 
select{
    flex:1;
    color:#fff;
    background: #20623b;
    height:50px;
    padding:0 20px;
    outline:0;
    border-radius:35px;
    border:0;
    appearance:none;
    background-image:url(images/dropdown.png);
    background-repeat:no-repeat;
    background-size:15px;
    background-position: calc(100% - 20px) 20px;
}